{
  "extends": ["airbnb", "react-app"].map(require.resolve),
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
    "jsx": true
    }
  },
  "esversion": 6,
  "env": {
        "browser": true,
        "node": true
    }
}
